html, body {
    width: 850px;
    height: 1000px;
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: aqua;
}
header {
    display: block;
    background: whitesmoke;
    height: 25vh;
    width: 840px;
    box-sizing: border-box;

}
main {
    display: block;
    background: whitesmoke;
    height: 25vh;
    width: 840px;
    box-sizing: border-box;
    
}
aside {
    display: block;
    background: whitesmoke;
    height: 25vh;
    width: 840px;
    box-sizing: border-box;
}
footer {
    display: block;
    background: whitesmoke;
    height: 25vh;
    width: 840px;
    box-sizing: border-box;
}
.container1{
    background-color: aqua;
    margin-right: 10px;
    display: block;
    width:328px;
    height:25vh;
    position: relative;
    border:5px solid lightgray;
    float: left;
    box-sizing: border-box;

}
.container2{
    background-color: aqua;
    display: block;
    width:328px;
    height:25vh;
    border:5px solid lightgray;
    position: absolute;
    margin-right: 10px;
    float: left;
    box-sizing: border-box;

}

.container3{
    background-color: aqua;
    display: block;
    width:100px;
    height:100px;
    border:10px solid #f8f8ff;
    position: relative;
    float: left;
    box-sizing: border-box;

}
.container4{
    background-color: aqua;
    display: block;
    width:512px;
    height:25vh;
    border:5px;
    position:relative;
    border:5px solid lightgray;
    float: left;
    box-sizing: border-box;
}
.btn {
    width: 100px;
    margin: 0 auto;
    padding: 0 auto;
    display: inline-block;
    position: relative;

}
.btn2 {
    display: inline-block;
    width: 100px;
    margin: 0 auto;
    padding: 0 auto;
    position: relative;
    
}

